WebContent/wsdl/CollegeRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://logins" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://logins" xmlns:intf="http://logins" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://logins" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDetails">
    <complexType>
     <sequence>
      <element name="collegename" type="xsd:string"/>
      <element name="collegecode" type="xsd:string"/>
      <element name="collegelocation" type="xsd:string"/>
      <element name="collegeprincipalname" type="xsd:string"/>
      <element name="collegeadminname" type="xsd:string"/>
      <element name="collegeadminemailid" type="xsd:string"/>
      <element name="collegecontactnumber" type="xsd:string"/>
      <element name="collegealternativenumber" type="xsd:string"/>
      <element name="collegeemailid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDetailsResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part element="impl:getDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part element="impl:getDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CollegeRegistration">

      <wsdl:operation name="getDetails">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CollegeRegistrationSoapBinding" type="impl:CollegeRegistration">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CollegeRegistrationService">

      <wsdl:port binding="impl:CollegeRegistrationSoapBinding" name="CollegeRegistration">

         <wsdlsoap:address location="http://localhost:8095/SparkApp/services/CollegeRegistration"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
